span.select2.select2-container {
    width: 30% !important;
}


.location-cap-submit{
    display: block !important;
    margin-top: 10px !important;
    /* padding: 0px; */
    font-size: 18px !important;
    width: 30% !important;
}